.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.screen_header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 25px 15px 25px;
    border-bottom: var(--main-border-bottom);
}

.user_text2{
    margin-left: 15px;
}

.user_name2{
    margin-left: 0px;
    font-size: 17px;
}

.user_description2{
    display: flex;
    font-size: 14px;
    color: var(--defalt-gray);
    margin-top: 3px;
}

.user_column2{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.chat_time{
    font-size: 15px;
    color: var(--defalt-gray);
}

.user_column3{
    display: flex;
    margin-right: 20px;
    margin-bottom: 10px;
}