
.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(242, 242, 242);
    padding: 20px 50px;
    border-top: 2px solid rgb(214, 214, 214);

}

.nav_list{
    display: flex;
    justify-content: space-between;

    
}

.nav_btn{
    width: 32px;
    position: relative;
}

@keyframes watchthis {

    0%{
transform: none;
    }
    50%{
transform: translateY(-5px) rotateY(360deg);
    }
    100%{
transform: none;
    }
}

.nav_notification{
    background-color: tomato;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    position: absolute;
    left: 18px;
    bottom: 17px;
    animation: watchthis 3s ease-in-out infinite;
}

.nav_point{
    color: tomato;
    font-size: 40px;
    display: flex;
    position: absolute;
    left: 25px;
    bottom: 24px;
}
