.user{
    display: flex;
    align-items: center;
    border-top: var(--main-border-bottom);
    margin-top: 10px;
    justify-content: space-between;
}

.user2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    font-size: large;
    margin-top: -10px;
}

.user_column:first-child{
    display: flex;
    align-items: center;
    margin: 12px 15px;
    
}

.user_photo{
    width: 70px;
    height: 70px;
    border-radius: 35%;
    margin-right: 10px;
}

.user_text{
    display: flex;
    flex-direction: column;
}

.chingho{
    background-color: rgb(153, 84, 188);
    padding: 5px;
    border-radius: 10%;
    font-weight: 500;
    color: darkorange;
    margin-bottom: 1px;
}

.user_name{
    font-weight: 500;
font-size: larger;}

.channel_header{
    display: flex;
}

.user_photo2{
    width: 60px;
    height: 60px;
    border-radius: 35%;
}

.user_name2{
    font-weight: 400;
}

.channel_header{
    display: flex;
    justify-content: space-between;
    border-top: var(--main-border-bottom);
    margin-top: 10px;
    padding: 10px 0px 0px 15px;
    font-size: 14px
}

.channel_header_name{
    opacity: 50%;
    margin-bottom: 12px;
    
}

.fa-arrow-up{
    opacity: 50%;
    margin-right: 15px
}

.user_column:last-child{
    font-size: 15px
}
